<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Меню</title>
  <link rel="stylesheet" type="text/css" href="static/css/main_menu.css">
</head>
<body>

<!--navbar-->

<section class="menu" id="menu" >

  <div class="navbar">
    <ul>
      <li><a href="cart">Корзина</a></li>
      <li><a href="#" class="logo">
          <img src="static/pictures/logo.png" alt="logo">
      </a></li>
      <li><a href="order-status">Статус заказа</a></li>
    </ul>
  </div>

  <div class="heading">Pizza Portal</div>
  <div class="order-inf">Доставка пиццы от 40 минут</div>

<!--navbar-->

<!--pizza-product-card-->
  <div class="box-container">

    <div class="box">
      <img src="static/pictures/pizza/cheesy.png" alt="pizza">
      <h3>Cheesy</h3>
      <p>30см. Состав: моцарелла, сыры чеддер и пармезан, соус Альфредо.</p>
      <p class="price">539 руб.</p>
      <div class="counter">
        <button class="minus">-</button>
        <div class="counter-value">1</div>
        <button class="plus">+</button>
      </div>
      <button class="to_cart_btn">В корзину</button>
    </div>

    <div class="box">
      <img src="static/pictures/pizza/pepperoni.png" alt="pizza">
      <h3>Pepperoni</h3>
      <p>30см. Состав: пепперони, моцарелла, томатный соус.</p>
      <p class="price">729 руб.</p>
      <div class="counter">
        <button class="minus">-</button>
        <div class="counter-value">1</div>
        <button class="plus">+</button>
      </div>
      <button class="to_cart_btn">В корзину</button>
    </div>

    <div class="box">
      <img src="static/pictures/pizza/double_chicken.png" alt="pizza">
      <h3>Double Chicken</h3>
      <p>30см. Состав: куриная грудка, моцарелла, томатный соус, репчатый лук.</p>
      <p class="price">619 руб.</p>
      <div class="counter">
        <button class="minus">-</button>
        <div class="counter-value">1</div>
        <button class="plus">+</button>
      </div>
      <button class="to_cart_btn">В корзину</button>
    </div>

    <div class="box">
      <img src="static/pictures/pizza/julienne.png" alt="pizza">
      <h3>Julienne</h3>
      <p>30см. Состав: цыплёнок, шампиньоны, чеснок, моцарелла, соус Альфредо.</p>
      <p class="price">799 руб.</p>
      <div class="counter">
        <button class="minus">-</button>
        <div class="counter-value">1</div>
        <button class="plus">+</button>
      </div>
      <button class="to_cart_btn">В корзину</button>
    </div>

    <div class="box">
      <img src="static/pictures/pizza/pesto.png" alt="pizza">
      <h3>Pesto</h3>
      <p>30см. Состав: цыпленок, соус песто, моцарелла, соус Альфредо.</p>
      <p class="price">799 руб.</p>
      <div class="counter">
        <button class="minus">-</button>
        <div class="counter-value">1</div>
        <button class="plus">+</button>
      </div>
      <button class="to_cart_btn">В корзину</button>
    </div>

    <div class="box">
      <img src="static/pictures/pizza/carbonara.png" alt="pizza">
      <h3>Carbonara</h3>
      <p>30см. Состав: бекон, пармезан, моцарелла, соус Альфредо, итальянские травы.</p>
      <p class="price">899 руб.</p>
      <div class="counter">
        <button class="minus">-</button>
        <div class="counter-value">1</div>
        <button class="plus">+</button>
      </div>
      <button class="to_cart_btn">В корзину</button>
    </div>

    <div class="box">
      <img src="static/pictures/pizza/meat_feast.png" alt="pizza">
      <h3>Meat Feast</h3>
      <p>30см. Состав: цыпленок, ветчина, пепперони, моцарелла, томатный соус.</p>
      <p class="price">799 руб.</p>
      <div class="counter">
        <button class="minus">-</button>
        <div class="counter-value">1</div>
        <button class="plus">+</button>
      </div>
      <button class="to_cart_btn">В корзину</button>
    </div>

    <div class="box">
      <img src="static/pictures/pizza/hawaiian.png" alt="pizza">
      <h3>Hawaiian</h3>
      <p>30см. Состав: цыпленок, ананасы, моцарелла, соус Альфредо.</p>
      <p class="price">729 руб.</p>
      <div class="counter">
        <button class="minus">-</button>
        <div class="counter-value">1</div>
        <button class="plus">+</button>
      </div>
      <button class="to_cart_btn">В корзину</button>
    </div>

    <div class="box">
      <img src="static/pictures/pizza/BBQ_chiken.png" alt="pizza">
      <h3>BBQ Chiken</h3>
      <p>30см. Состав: цыпленок, бекон, соус барбекю, моцарелла, томатный соус.</p>
      <p class="price">899 руб.</p>
      <div class="counter">
        <button class="minus">-</button>
        <div class="counter-value">1</div>
        <button class="plus">+</button>
      </div>
      <button class="to_cart_btn">В корзину</button>
    </div>

    <div class="box">
      <img src="static/pictures/pizza/margherita.png" alt="pizza">
      <h3>Margherita</h3>
      <p>30см. Состав: моцарелла, итальянские травы, томатный соус.</p>
      <p class="price">729 руб.</p>
      <div class="counter">
        <button class="minus">-</button>
        <div class="counter-value">1</div>
        <button class="plus">+</button>
      </div>
      <button class="to_cart_btn">В корзину</button>
    </div>

    <div class="box">
      <img src="static/pictures/pizza/diablo.png" alt="pizza">
      <h3>Diablo</h3>
      <p>30см. Состав: колбаски чоризо, острый перец халапеньо, соус барбекю, сладкий перец, моцарелла, томатный соус.</p>
      <p class="price">899 руб.</p>
      <div class="counter">
        <button class="minus">-</button>
        <div class="counter-value">1</div>
        <button class="plus">+</button>
      </div>
      <button class="to_cart_btn">В корзину</button>
    </div>

    <div class="box">
      <img src="static/pictures/pizza/vegeterian.png" alt="pizza">
      <h3>Vegeterian</h3>
      <p>30см. Состав: шампиньоны, томаты, сладкий перец, красный лук, брынза, моцарелла, томатный соус.</p>
      <p class="price">799 руб.</p>
      <div class="counter">
        <button class="minus">-</button>
        <div class="counter-value">1</div>
        <button class="plus">+</button>
      </div>
      <button class="to_cart_btn">В корзину</button>
    </div>
<!--pizza-product-card-->



  </div>


</section>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>

<!-- navbar curtain animation -->
<script>
  $(window).on("scroll", function() 
  {
      if ($(window).scrollTop() > 50) 
      {
        $(".navbar").addClass("active");
      }
      else {
        $(".navbar").removeClass("active")
      }
  });
</script>
<!-- navbar curtain animation -->

<!--counter-script-->
<script src="static/javascripts/counter.js"></script>
<!--counter-script-->

</body>
